.post {
	& > * {
		margin-bottom: rem(16px);
	}

	hr {
		margin: rem(48px) 0;
		width: 8ch;
		max-width: 100%;
		height: 1px;
		border: none;
		background-color: currentColor;
	}

	h2:not(:first-child) {
		margin-top: rem(48px);
	}

	h3:not(:first-child) {
		margin-top: rem(32px);
	}

	ul, ol {
		margin-top: rem(32px);
		margin-bottom: rem(32px);
		padding-left: rem(20px);
	}

	li:not(:last-child) {
		margin-bottom: rem(8px);
	}

	code {
		padding: rem(2px) rem(4px);
		background-color: rgba(0, 0, 0, 0.05);

		@media (prefers-color-scheme: dark) {
			background-color: rgba(255, 255, 255, 0.15);
		}

	}

	pre code {
		display: block;
		padding: rem(16px);
		line-height: 1.4;
		overflow: auto;

		@media (prefers-color-scheme: dark) {
			border: 1px solid #38383d;
		}

	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
		border: 1px solid #ccc;
	}

	blockquote {
		margin-top: rem(16px);
		margin-bottom: rem(16px);
		border-left: rem(8px) solid #f2f2f2;
		padding-left: rem(16px);

		& > *:not(:last-child) {
			margin-bottom: rem(16px);
		}
	}

	.figure--large {
		width: calc(100vw - #{rem(52px)});
		max-width: rem(1242px);
	}

	.figure--grid {
		display: grid;
		grid-template-columns: repeat(2, fit-content(50%));
		grid-gap: rem(8px);

		figcaption {
			margin-top: 0;
			grid-column: 1 / 3;
		}
	}

	figure {
		margin-top: rem(48px);
		margin-bottom: rem(48px);

		iframe {
			max-width: 100%;
			height: auto;
			aspect-ratio: 4 / 3;
		}
	}

	figcaption {
		margin-top: rem(8px);
		margin-bottom: rem(8px);
	}

	.alert {
		margin: rem(48px) rem(-13px);
	}
}

.post-header {
	margin-bottom: rem(48px);
}

.post-title {
	font-size: rem(40px);
	line-height: 1.25;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.post-subtitle {
	font-size: rem(24px);
	color: rgba(0, 0, 0, 0.54);

	@media (prefers-color-scheme: dark) {
		color: #d7d7db;
	}
}

.alert {
	padding: rem(13px);
	color: #856404;
	background-color: #fff3cd;
	border-color: #856404;
}