* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	min-height: 100vh;
	color: rgba(0, 0, 0, 0.84);
	font: 1em/1.5 'Source Sans Pro', sans-serif;
	background: #fff;
}

body {
	display: flex;
	min-width: rem(280px);
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #fff;
}

img {
	vertical-align: middle;
}

a {
	color: inherit;
}

a:focus, a:active, button:focus, button:active {
	outline: 1px dashed #3687c6;
	outline-offset: rem(2px);
	background-color: #c0e1f1;
}

button, input {
	&::-moz-focus-inner {
		border: none;
	}
}

address {
	font-style: normal;
}

abbr {
	text-decoration: none;
}

code {
	font-size: 85%;
	line-height: 1;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

figcaption {
	color: rgba(0, 0, 0, 0.54);
	text-align: left;
	font-size: 0.75em;
}