* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	min-height: 100vh;
	color: rgba(0, 0, 0, 0.84);
	font: 1em/1.5 'Source Sans Pro', sans-serif;
	background: #fff;
}

body {
	display: flex;
	min-width: rem(280px);
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #fff;

	@media (prefers-color-scheme: dark) {
		color: #fff;
		background: #232323;
	}
}

img {
	vertical-align: middle;
}

a {
	color: inherit;
}

.main {
	a:not([class]):focus, a:not([class]):active, button:not([class]):focus, button:not([class]):active {
		background-color: #c0e1f1;

		@media (prefers-color-scheme: dark) {
			outline-color: #0088cc;
			background-color: #608a9b;
		}
	}

	a:not([class]):visited {
		color: rebeccapurple;

		@media (prefers-color-scheme: dark) {
			color: #b98eff;

			&:focus, &:active {
				color: #eee3ff;
			}
		}
	}
}

button, input {
	&::-moz-focus-inner {
		border: none;
	}
}

address {
	font-style: normal;
}

abbr {
	text-decoration: none;
}

code {
	font-size: 85%;
	line-height: 1;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

figcaption {
	color: rgba(0, 0, 0, 0.54);
	text-align: left;
	font-size: 0.75em;

	@media (prefers-color-scheme: dark) {
		color: #d7d7db;
	}
}

pre:focus-within {
	outline: rem(8px) solid #f4ffa2;
	outline-offset: rem(2px);
}