.page--work {

	.header .title {
		visibility: hidden;
	}

	.avatar {
		float: left;
		margin-right: rem(16px);
		margin-left: calc(-12.5% + #{rem(32px)});
		width: 25%;
		border-radius: 50%;
		border: none;
		shape-outside: circle(50%);

		@media only screen and (max-width: rem(672px)) {
			width: rem(128px);
			margin-left: rem(-32px);
		}
	}

	.oh-hi {
		margin-bottom: 0;

		@media only screen and (max-width: rem(672px)) {
			display: table-cell;
			height: rem(128px);
			vertical-align: bottom;
			max-width: rem(320px);
		}
	}

	.post-intro {
		margin-bottom: rem(32px);

		@media only screen and (max-width: rem(672px)) {
			clear: both;
		}
	}

	.post-intro h1 {
		display: block;
		line-height: 1;
		font-size: 3em;
		font-weight: bold;
		font-family: Montserrat, Arial Black, sans-serif;
		text-transform: uppercase;

		@media only screen and (max-width: rem(672px)) {
			font-size: calc(((80 - 16) * 100vw / 672) + 1rem);
		}

		@media only screen and (max-width: rem(450px)) {
			font-size: 2em;
		}

		@media only screen and (max-width: rem(319px)) {
			font-size: 1.5em;
		}
	}

	.figure--grid {
		gap: rem(20px);
		grid-template-columns: 1fr 1fr;

		h3 {
			margin-bottom: 0.5em;
		}

		@media only screen and (max-width: rem(672px)) {
			display: block;

			& > *:not(:last-child) {
				margin-bottom: rem(16px);
			}
		}
	}
}

.card {
	border: 1px solid #ccc;
	border-radius: rem(8px);
	position: relative;
	overflow: hidden;
}

.card-image {
	width: 100%;
	max-height: rem(200px);
	object-fit: cover;

	.post & {
		border: none;
	}

	.figure--grid & {
		object-position: center top;
	}
}

.card-text {
	padding: rem(8px) rem(16px);
	border-top: 1px solid #ccc;
}

.card-url {
	font-size: rem(12px);
}

.card-link {
	&::before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}
