<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	{%- assign page-title-appendix = "" -%}
	{%- if page.url != "/" -%}
	{%- assign page-title-appendix = " — HTeuMeuLeu.com" -%}
	{%- endif -%}
	<title>{{ page.title | remove: '`' | escape_once | markdownify | strip_html | strip | append: page-title-appendix }}</title>
	<link rel="stylesheet" href="/assets/css/styles.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	<link href="{{ site.url }}/feed.xml" rel="alternate" type="application/atom+xml" />
</head>
<body>
	<div class="page{{ page.name | split: '.' | first | slugify | default: 'default' | prepend: ' page--' }}">
		<header class="header" role="banner">
			{%- if page.url != "/" -%}
				<a href="/" class="title">
			{%- endif -%}
			<img class="logo" src="{{ site.url }}/assets/images/icon.png" alt="{{ site.title }}" width="75" height="75" />
			{%- if page.url != "/" -%}
				</a>
			{%- endif -%}
			<nav class="nav" role="navigation">
				<a href="/about/"{% if page.url == "/about/" %} class="current"{% endif %}>About</a>
				<a href="/blog/"{% if page.url == "/blog/" %} class="current"{% endif %}>Blog</a>
				<a href="/work/"{% if page.url == "/work/" %} class="current"{% endif %}>Work with me</a>
			</nav>
		</header>
		<main role="main" class="main">
			{{ content }}
		</main>
		<footer class="footer" role="contentinfo">
			<p><b>HTeuMeuLeu</b> by Rémi Parmentier.</p>
			<p>Follow me on <a href="https://www.twitter.com/HTeuMeuLeu">Twitter</a>, <a href="https://www.github.com/hteumeuleu/">GitHub</a> or <a href="https://www.youtube.com/c/HTeuMeuLeu">Youtube</a>.</p>
		</footer>
	</div>
</body>
</html>