<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	{%- assign page-title-appendix = "" -%}
	{%- if page.url != "/" -%}
	{%- assign page-title-appendix = " — HTeuMeuLeu.com" -%}
	{%- endif -%}
	<title>{{ page.title | remove: '`' | escape_once | markdownify | strip_html | strip | append: page-title-appendix }}</title>
	<link rel="stylesheet" href="/assets/css/styles.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	<link href="{{ site.url }}/feed.xml" rel="alternate" type="application/atom+xml" />
</head>
<body>
	<div class="page{{ page.name | split: '.' | first | slugify | default: 'default' | prepend: ' page--' }}">
		<header class="header" role="banner">
			{%- if page.url == "/" -%}
				<h1 class="title">{{ site.title }}</h1>
			{%- else -%}
				<a href="/" class="title">{{ site.title }}</a>
			{%- endif -%}
		</header>
		<main role="main" class="main">
			{{ content }}
		</main>
		<footer class="footer" role="contentinfo">
			<p><b>HTeuMeuLeu by Rémi Parmentier</b></p>
			<p>French email and web developer working at <a href="https://www.tilt-studio.fr">Tilt Studio</a>.</p>
			<p>Source code available on <a href="https://github.com/hteumeuleu/hteumeuleu.com">GitHub</a>.</p>
		</footer>
	</div>
</body>
</html>