---
layout: default
---
<div class="post">
	<header class="post-header">
		<p class="post-date"><time datetime="{{ page.date | date_to_xmlschema}}">{{ page.date | date: '%B %d, %Y' }}</time></p>
		<h1 class="post-title">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
		{% if page.subtitle != nil and page.subtitle != "" %}
		<p class="post-subtitle">{{ page.subtitle | markdownify | remove: '<p>' | remove: '</p>' }}</p>
		{% endif %}
	</header>
	{{ content | markdownify }}
</div>